/*Global variebles*/
@import url('font-awesome.css');
@import url('slick.css');
@import url('lightbox.css');
/*CSS begin*/
.navbar-toggle {
  border: none;
  outline: none;
  top: 60px;
  border: 1px solid #0c2f5c;
  right: 0px;
  position: absolute;
  z-index: 999;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 32px;
  height: 2px;
  margin: 5px 0;
  border-radius: 1px;
  background: #0c2f5c;
}
#scroller {
  z-index: 10;
  width: 55px;
  height: 55px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  display: none;
  background: url(../images/scroller.jpg) no-repeat;
}
.grey-bg {
  background: #f8f8f8;
}
.main {
  font-family: 'Roboto', sans-serif;
}
header {
  border-bottom: 2px solid #ebebeb;
}
header .top-header {
  background: #0c2f5c;
  padding: 5px 0;
}
header .top-header p {
  color: #fff;
  margin: 0;
}
header .top-header .fa-caret-down {
  color: #3895d2;
  margin: 0 3px;
}
header .top-header .phone {
  font-size: 14px;
  color: #fff;
  display: inline-block;
  border-bottom: 1px dashed #3895d2;
  cursor: pointer;
  position: relative;
}
header .top-header .phone img {
  position: relative;
  bottom: 2px;
}
header .top-header .phone a {
  color: #fff;
}
header .top-header .phones {
  position: absolute;
  background: #0c2f5c;
  width: 100%;
  padding: 5px;
  z-index: 10;
  display: none;
}
header .top-header .phones img {
  position: relative;
  bottom: 2px;
}
header .top-header .phones p {
  margin: 5px 0;
}
header .top-header .phone:hover .phones {
  display: block;
}
header .top-header .slogan {
  text-align: center;
}
header .top-header .lang {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
header .top-header .lang li {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
header .top-header .lang li a {
  color: #fff;
}
header .top-header .lang li span {
  margin: 0 5px;
}
header .top-header .lang li.active a {
  color: #ff602d;
}
header .bot-header {
  padding: 20px 0;
}
header .bot-header .logo {
  text-align: left;
}
header .bot-header .menu {
  text-align: center;
  z-index: 1;
  position: relative;
}
header .bot-header .menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
header .bot-header .menu ul li {
  display: inline-block;
  margin: 10px;
}
header .bot-header .menu ul li a {
  font-size: 18px;
  color: #222;
  font-weight: 700;
  text-transform: uppercase;
}
header .bot-header .menu ul li a:hover {
  color: #ff602d;
  text-decoration: none;
}
header .bot-header .menu ul li.active a {
  color: #3c91dc;
}
header .bot-header .btn {
  background: #3c91dc;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  float: right;
}
header .bot-header .btn span {
  position: relative;
  bottom: 5px;
  margin: 0 5px;
}
header .bot-header .btn i {
  font-size: 30px;
  margin-left: 5px;
}
.main-slider {
  position: relative;
  overflow: hidden;
}
.main-slider .slide {
  outline: none;
  height: 618px;
  position: relative;
}
.main-slider .slide .blue {
  background: #0c2f5c;
  width: 50%;
  height: 445px;
  position: absolute;
  margin-top: 76px;
}
.main-slider .slide img {
  display: none;
}
.main-slider .slide .desc {
  margin-top: 76px;
  background: #0c2f5c;
  padding: 40px 0;
}
.main-slider .slide .desc p {
  font-size: 18px;
  color: #fff;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.main-slider .slide .desc p span {
  color: #ff602d;
}
.main-slider .slide .desc p a {
  font-weight: 400;
  text-decoration: underline;
  color: #3c91dc;
}
.main-slider .slide .desc p a:hover {
  text-decoration: none;
}
.main-slider .slide .desc p.title {
  font-weight: 500;
}
.main-slider .slide .desc p.title span {
  font-size: 30px;
}
.main-slider .slide .desc .block {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 10px 0;
}
.main-slider .slide .desc .btn {
  background: #ff602d;
  width: 100%;
  max-width: 364px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  padding: 13px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin: 10px 0;
}
.main-slider .slide .desc .action .big {
  font-size: 24px;
}
.main-slider .slide .desc .action .big span {
  font-size: 30px;
}
.main-slider .slide .desc .action .mid {
  font-size: 14px;
}
.main-slider .slide .desc .action font {
  display: block;
  margin: 10px 0;
}
.main-slider .slide .desc .more {
  margin-top: 20px;
  font-size: 14px;
}
.main-slider .clock {
  margin: 20px 0 0 0;
}
.main-slider .clock .wrapper span {
  background: #17498f;
}
.main-slider .slick-dots {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  position: absolute;
  bottom: 100px;
  left: 24%;
}
.main-slider .slick-dots li {
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 10px;
}
.main-slider .slick-dots li button {
  display: none;
}
.main-slider .slick-dots li.slick-active {
  background: #ff602d;
}
.text-block {
  text-align: center;
  padding: 50px 0;
}
.text-block p.exp {
  font-size: 18px;
  color: #888;
  text-transform: uppercase;
  font-weight: 700;
}
.text-block p.title {
  font-size: 30px;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  background: url(../images/h-bg.jpg) no-repeat center bottom;
  padding-bottom: 8px;
  margin-bottom: 15px;
}
.text-block p.title span {
  color: #3c91dc;
}
.text-block p {
  font-size: 16px;
  color: #4c4c4c;
  font-weight: 300;
  margin: 0;
  line-height: 1.5em;
}
.text-block .image-block {
  margin: 30px 0 0 0;
}
.guarantee-block {
  padding: 50px 0;
  text-align: center;
}
.guarantee-block img {
  margin: 10px auto;
}
.price-categories {
  padding: 50px 0 0 0;
}
.price-categories .tabs-wrapper {
  margin: 30px 0;
}
.price-categories .tabs-wrapper .top {
  border-bottom: 6px solid #3c91dc;
  overflow-x: hidden;
}
.price-categories .tabs-wrapper .top ul.tabs-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.price-categories .tabs-wrapper .top ul.tabs-list li {
  font-size: 18px;
  color: #222;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 3px;
  padding: 5px 15px;
}
.price-categories .tabs-wrapper .top ul.tabs-list li.current {
  background: #3c91dc;
  color: #fff;
}
.price-categories .tabs-wrapper .top ul.tabs-list li.current span.old {
  color: #fff;
}
.price-categories .tabs-wrapper .top ul.tabs-list li.current span.old .line {
  background: #fff;
}
.price-categories .tabs-wrapper .top ul.tabs-list li.current span.new {
  color: #fff;
}
.price-categories .tabs-wrapper .top ul.tabs-list li span.old {
  font-size: 24px;
  display: inline-block;
  color: #ff602d;
  position: relative;
}
.price-categories .tabs-wrapper .top ul.tabs-list li span.old .line {
  position: absolute;
  width: 100%;
  display: block;
  height: 2px;
  background: #ff602d;
  top: 50%;
  margin-top: -2px;
}
.price-categories .tabs-wrapper .top ul.tabs-list li span.new {
  font-size: 30px;
  color: #3c91dc;
  display: inline-block;
}
.price-categories .tabs-wrapper .tab-block .price-category-item {
  margin-top: 15px;
  margin-bottom: 15px;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .name {
  padding: 19px 60px 19px 10px;
  background: #0c2f5c;
  font-size: 18px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .name p {
  margin: 0;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .name img {
  float: right;
  position: absolute;
  top: 5px;
  right: 5px;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .mid {
  background: #f8f8f8;
  padding: 10px;
  border-right: 3px solid #3c91dc;
  border-left: 3px solid #3c91dc;
  overflow: hidden;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .size {
  font-size: 18px;
  text-transform: uppercase;
  color: #222;
  font-weight: 800;
  border-bottom: 2px solid #3c91dc;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .size span {
  float: right;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .image {
  position: relative;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .image img {
  margin: 10px auto;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .image .tier {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 154px;
  height: 51px;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .image .tier.tier3 {
  background: url(../images/tier3.png) no-repeat;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .image .tier.tier2 {
  background: url(../images/tier2.png) no-repeat;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .image .tier.tier1 {
  background: url(../images/tier1.png) no-repeat;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .glass {
  font-size: 18px;
  text-transform: uppercase;
  color: #222;
  font-weight: 800;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .glass span {
  float: right;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .price-block {
  background: #0c2f5c;
  padding: 15px 10px;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .price-block p {
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .price-block p span {
  float: right;
  margin-left: 10px;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .price-block p span.new {
  font-size: 24px;
  position: relative;
  bottom: 6px;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .price-block p span.old {
  font-size: 18px;
  color: #ff602d;
  position: relative;
  display: inline-block;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .price-block p span.old .line {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -2px;
  background: #ff602d;
  display: block;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .char {
  background: #fff;
  border: 2px solid #0c2f5c;
  margin: 10px 0;
  overflow: hidden;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .char.two-images {
  text-align: center;
  padding-bottom: 5px;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .char.two-images img {
  margin: 0;
  display: inline-block !important;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .char p.char-name {
  font-size: 14px;
  background: #0c2f5c;
  color: #fff;
  text-align: center;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .char p {
  font-size: 15px;
  color: #222;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .char p img {
  margin-right: 2px;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .char p span {
  float: right;
  position: relative;
  top: 7px;
}
.price-categories .tabs-wrapper .tab-block .price-category-item .char img {
  margin: 0 auto;
}
.price-categories p.title {
  text-align: center;
  font-size: 30px;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  background: url(../images/h-bg.jpg) no-repeat center bottom;
  padding-bottom: 8px;
  margin-bottom: 15px;
}
.price-categories p.title span {
  color: #3c91dc;
}
.partners {
  padding: 50px 0;
}
.partners p.title {
  text-align: center;
  font-size: 30px;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  background: url(../images/h-bg.jpg) no-repeat center bottom;
  padding-bottom: 8px;
  margin-bottom: 15px;
}
.partners p.title span {
  color: #3c91dc;
}
.partners img {
  margin: 10px auto;
}
.form-block {
  background: url(../images/form-block-bg.jpg) no-repeat center;
  padding: 50px 0;
  background-size: cover;
}
.form-block.form-block2 {
  background: url(../images/form-block-bg2.jpg) no-repeat center;
  background-size: cover;
}
.form-block.no-bg {
  background: no-repeat;
}
.form-block.no-bg .errors,
.form-block.no-bg .succes {
  color: #3d3d3d;
}
.form-block.no-bg p.title {
  color: #3d3d3d;
  background: url(../images/h-bg.jpg) no-repeat center bottom;
}
.form-block.no-bg input[type=text],
.form-block.no-bg input[type=email],
.form-block.no-bg input[type=password],
.form-block.no-bg input[type=number] {
  padding: 18px;
  border: 2px solid #ebebeb;
  background: #f8f8f8;
  width: 100%;
  font-weight: 700;
  margin: 15px 0;
}
.form-block.no-bg textarea {
  padding: 18px;
  border: 2px solid #ebebeb;
  background: #f8f8f8;
  width: 100%;
  font-weight: 700;
  resize: none;
  margin: 15px 0;
  height: 160px;
}
.form-block.no-bg .btn {
  margin-top: 15px;
  background: #ff602d;
  width: 100%;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  padding: 13px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.form-block p.title {
  text-align: center;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  background: url(../images/h-bg-w.png) no-repeat center bottom;
  padding-bottom: 8px;
  margin-bottom: 30px;
}
.form-block p.title span {
  color: #3c91dc;
}
.form-block .errors,
.form-block .succes {
  color: #fff;
}
.form-block input[type=text],
.form-block input[type=email],
.form-block input[type=password],
.form-block input[type=number] {
  padding: 18px;
  border: 2px solid #fff;
  background: #fff;
  width: 100%;
  font-weight: 700;
}
.form-block .required,
.form-block .invalid {
  border-color: #ed1c24 !important;
}
.form-block .btn {
  margin-top: 30px;
  background: #ff602d;
  width: 100%;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  padding: 13px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.stat {
  padding: 50px 0;
}
.stat .item .number {
  font-size: 72px;
  color: #222;
  font-weight: 700;
  text-align: center;
  border: 7px solid #3c91dc;
  position: relative;
  margin-bottom: 20px;
}
.stat .item .number .arrow {
  width: 21px;
  height: 11px;
  background: url(../images/stat-arrow.png) no-repeat;
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -10px;
}
.stat .item p {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
}
.best {
  padding: 50px 0;
}
.best p.title {
  text-align: center;
  font-size: 30px;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  background: url(../images/h-bg.jpg) no-repeat center bottom;
  padding-bottom: 8px;
  margin-bottom: 15px;
}
.best p.title span {
  color: #3c91dc;
}
.best p {
  text-transform: uppercase;
  font-size: 30px;
  color: #9bacbe;
  text-align: center;
  margin-bottom: 15px;
}
.best .best-slider {
  position: relative;
}
.best .best-slider .slick-arrow {
  width: 10px;
  height: 18px;
  padding: 0;
  background: url(../images/best-slider-arrows.png) no-repeat 0 0;
  border: none;
  outline: none;
  position: absolute;
  top: -46px;
}
.best .best-slider .slick-prev {
  left: 5px;
}
.best .best-slider .slick-prev:hover {
  background-position: 0 -18px;
}
.best .best-slider .slick-next {
  right: 5px;
  background-position: -10px 0;
}
.best .best-slider .slick-next:hover {
  background-position: -10px -18px;
}
.best .best-slider .slide {
  outline: none;
}
.best .best-slider .slide img {
  margin: 15px auto 0 auto;
}
.how-we-work {
  padding: 50px 0;
}
.how-we-work p.title {
  text-align: center;
  font-size: 30px;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  background: url(../images/h-bg.jpg) no-repeat center bottom;
  padding-bottom: 8px;
  margin-bottom: 30px;
}
.how-we-work p.title span {
  color: #3c91dc;
}
.how-we-work .item {
  max-width: 168px;
  margin: 0 auto;
}
.how-we-work .item .image {
  position: relative;
}
.how-we-work .item .image .number {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  background: #3c91dc;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  width: 46px;
  text-align: center;
  padding: 3px 0;
}
.how-we-work .item p {
  font-size: 14px;
  font-weight: 500;
  color: #5d5d5d;
  text-align: center;
  margin-top: 10px;
}
.benefits {
  padding: 50px 0;
}
.benefits p.title {
  text-align: center;
  font-size: 30px;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  background: url(../images/h-bg.jpg) no-repeat center bottom;
  padding-bottom: 8px;
  margin-bottom: 15px;
}
.benefits p.title span {
  color: #3c91dc;
}
.benefits ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.benefits ul li {
  padding-left: 30px;
  background: url(../images/benefits-li.png) no-repeat left top 3px;
  font-size: 16px;
  color: #5d5d5d;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 15px;
}
.reviews {
  background: url(../images/reviews-bg.jpg) no-repeat center;
  background-size: cover;
  padding: 50px 0;
  text-align: center;
}
.reviews p.title {
  text-align: center;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  background: url(../images/h-bg-w.png) no-repeat center bottom;
  padding-bottom: 8px;
  margin-bottom: 30px;
}
.reviews p.title span {
  color: #3c91dc;
}
.reviews p {
  color: #fff;
}
.reviews p.name {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.reviews p.pos {
  font-size: 18px;
  text-transform: uppercase;
}
.reviews .ava {
  border: 8px solid #fff;
  margin: 0 auto 10px auto;
}
.reviews p.phone {
  font-size: 18px;
}
.reviews p.phone a {
  color: #fff;
}
.reviews .text {
  background: #fff;
  margin: 15px auto;
  max-width: 826px;
}
.reviews .text p {
  font-size: 14px;
  color: #212222;
  padding: 25px;
}
.reviews .reviews-slider .slick-dots {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.reviews .reviews-slider .slick-dots li {
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 10px;
}
.reviews .reviews-slider .slick-dots li button {
  display: none;
}
.reviews .reviews-slider .slick-dots li.slick-active {
  background: #ff602d;
}
.reviews .reviews-slider .slide {
  outline: none;
}
.order-calc {
  padding: 50px 0;
  text-align: center;
}
.order-calc p {
  font-size: 16px;
  color: #4c4c4c;
  text-align: center;
  font-weight: 300;
}
.order-calc .btn {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 20px;
  background: #ff602d;
  border-radius: 0;
}
.sertificates {
  padding: 50px 0;
}
.sertificates p.title {
  text-align: center;
  font-size: 30px;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  background: url(../images/h-bg.jpg) no-repeat center bottom;
  padding-bottom: 8px;
  margin-bottom: 30px;
}
.sertificates p.title span {
  color: #3c91dc;
}
.sertificates P {
  text-align: center;
  font-size: 30px;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
}
.sertificates P span {
  color: #3c91dc;
}
.sertificates img {
  margin: 0 auto 30px auto;
}
.action-block {
  padding: 50px 0;
  background: url(../images/action-bg.jpg) no-repeat center;
  background-size: cover;
}
.action-block p.title {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: url(../images/h-bg-w.png) no-repeat center bottom;
  padding-bottom: 15px;
}
.action-block p.title span {
  display: block;
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
}
.action-block p.title span b {
  font-size: 48px;
  color: #ff602d;
}
.action-block p {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.clock {
  overflow: hidden;
  margin: 20px auto;
  max-width: 435px;
}
.clock .wrapper {
  float: left;
  width: 21%;
  margin: 0 2%;
}
.clock .wrapper span {
  padding: 0 5px;
  background: #0c2f5c;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 60px;
  display: block;
  font-weight: bold;
  text-align: center;
  color: #3c91dc;
}
.clock .wrapper b {
  text-align: center;
  display: block;
  margin: 10px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.crumbs {
  font-size: 14px;
  color: #3c91dc;
}
.crumbs a {
  color: #3c91dc;
}
.content {
  padding: 20px 0;
}
.contacts-page p.title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #888;
  text-align: center;
  margin-bottom: 15px;
}
.contacts-page .contacts-item {
  margin-top: 15px;
  margin-bottom: 15px;
}
.contacts-page .contacts-item h4 {
  font-size: 18px;
  color: #9a9a9a;
  text-align: center;
}
.contacts-page .contacts-item .ico {
  height: 56px;
  width: 56px;
  float: left;
}
.contacts-page .contacts-item .ico.mts {
  background: url(../images/phone-ico3.png) no-repeat center #3c91dc;
}
.contacts-page .contacts-item .ico.kyivstar {
  background: url(../images/kyivstar-w.png) no-repeat center #3c91dc;
}
.contacts-page .contacts-item .ico.vodafon {
  background: url(../images/phone-ico.png) no-repeat center #3c91dc;
}
.contacts-page .contacts-item .ico.default {
  background: url(../images/phone-ico4.png) no-repeat center #3c91dc;
}
.contacts-page .contacts-item .ico.mail {
  background: url(../images/mail-ico.png) no-repeat center #3c91dc;
}
.contacts-page .contacts-item .text {
  height: 56px;
  background: #fff;
  text-align: center;
  border: 2px solid #ebebeb;
}
.contacts-page .contacts-item .text p {
  font-size: 18px;
  color: #3d3d3d;
  font-weight: 500;
  text-align: center;
  padding: 15px 0;
}
.contacts-page .contacts-item .text p a {
  color: #3d3d3d;
}
.map p {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #888;
  text-align: center;
}
.map iframe {
  width: 100% !important;
  height: 335px !important;
  display: block;
}
.contacts-block {
  background: #071e34;
  padding: 20px 0;
  text-align: center;
}
.contacts-block p {
  font-size: 14px;
  color: #fff;
}
.contacts-block p i {
  margin-right: 5px;
}
.contacts-block p.mail {
  margin: 30px 0;
}
.contacts-block p.mail a {
  color: #fff;
}
.contacts-block .phones p {
  display: inline-block;
  margin: 0 20px;
}
.contacts-block .phones p img {
  position: relative;
  bottom: 2px;
  margin-right: 5px;
}
.contacts-block .phones p a {
  color: #fff;
}
footer {
  background: #000;
  padding: 15px 0;
}
footer p.copy {
  text-align: center;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
}
/*----------------------------------------
	Presents block
----------------------------------------*/
.present-block {
  display: block;
  width: 100%;
  background: #f8f8f8;
  margin-top: 30px;
}
.present-block .present-text {
  height: 57px;
  line-height: 57px;
  padding: 0 110px 0 60px;
  position: relative;
}
.present-block .present-text::before {
  content: "";
  display: block;
  width: 57px;
  height: 56px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../images/present-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.present-block .present-text:nth-child(2)::before {
  background-position: -57px 0;
}
.present-block .present-text:nth-child(3)::before {
  background-position: -114px 0;
}
.present-block .present-text::after {
  content: "";
  display: block;
  width: 110px;
  height: 56px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../images/present-label.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.present-block .present-text p {
  display: inline-table;
  vertical-align: middle;
  font-size: 16px;
  margin: 0;
  color: #222;
  white-space: normal;
  line-height: 20px;
  text-align: center;
}
/*----------------------------------------
	1200 width
----------------------------------------*/
@media screen and (max-width: 1200px) {
  .main-slider .slick-dots {
    bottom: 60px;
    left: 8%;
  }
  .benefits ul li {
    font-size: 13px;
    padding: 5px 0 5px 30px;
  }
  header .bot-header .btn {
    float: left;
  }
  .contacts-page .contacts-item h4,
  .contacts-page .contacts-item .text p {
    font-size: 14px;
  }
  .price-categories .tabs-wrapper .tab-block .price-category-item .char.two-images img {
    display: block !important;
    margin: 3px auto;
  }
  .price-categories .tabs-wrapper .tab-block .price-category-item .char p img {
    display: block;
    margin: 3px auto;
  }
  .price-categories .tabs-wrapper .tab-block .price-category-item .char p {
    text-align: center;
  }
  .price-categories .tabs-wrapper .tab-block .price-category-item .char p span {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }
  .price-categories .tabs-wrapper .tab-block .price-category-item .glass,
  .price-categories .tabs-wrapper .tab-block .price-category-item .size {
    font-size: 15px;
  }
  .price-categories .tabs-wrapper .tab-block .price-category-item .price-block p span.new {
    font-size: 20px;
  }
  .price-categories .tabs-wrapper .tab-block .price-category-item .price-block p,
  .price-categories .tabs-wrapper .tab-block .price-category-item .price-block p span.old {
    font-size: 16px;
  }
}
/*----------------------------------------
	992 width
----------------------------------------*/
@media screen and (max-width: 992px) {
  header .bot-header .menu ul li {
    margin: 5px 10px;
  }
  header .bot-header .btn {
    float: none;
    margin-top: 10px;
  }
  .benefits ul li {
    font-size: 13px;
    padding: 5px 0 5px 30px;
  }
}
/*----------------------------------------
	767 width
----------------------------------------*/
@media screen and (max-width: 767px) {
  .order-calc .btn {
    font-size: 14px;
  }
  .price-categories .tabs-wrapper .top ul.tabs-list li {
    width: 100%;
  }
  header .bot-header .logo img {
    position: relative;
    z-index: 2;
  }
  header .phone-block {
    text-align: center;
  }
  header .top-header .lang {
    text-align: center;
    display: none;
  }
  header .bot-header .logo {
    text-align: center;
  }
  header .bot-header .logo img {
    margin: 0 auto;
  }
  header .bot-header .call {
    text-align: center;
  }
  header .bot-header .call .btn {
    margin-top: 15px;
  }
  header .bot-header .menu ul {
    margin-top: 15px;
  }
  header .bot-header .menu ul li {
    display: block;
  }
  header .bot-header .menu ul li a {
    display: block;
  }
  .main-slider .slide .blue {
    display: none;
  }
  .main-slider .slide .desc {
    padding: 30px 15px;
    margin-top: 40px;
  }
  .form-block input[type=text],
  .form-block input[type=email],
  .form-block input[type=password] {
    margin: 10px 0;
  }
  .best p {
    margin-top: 15px;
  }
  .how-we-work .item p {
    font-size: 12px;
  }
  .benefits ul li {
    font-size: 16px;
    margin-left: 15px;
  }
  .action-block p.title {
    font-size: 38px;
  }
  .clock .wrapper span {
    font-size: 40px;
  }
  div#main-menu {
    width: 100%;
  }
  header .top-header .slogan {
    display: none;
  }
  .text-block .image-block img {
    max-width: 100%;
    height: auto;
  }
  #scroller {
    z-index: 10;
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    display: none;
    background: url(../images/scroller.jpg) no-repeat;
  }
}
/*----------------------------------------
	450 width
----------------------------------------*/
@media screen and (max-width: 450px) {
  .price-category-item .col-xs-6 {
    width: 100%;
  }
  .partners .col-sm-3 {
    width: 100%;
  }
  .sertificates .col-sm-2 {
    width: 100%;
  }
}
.modal .modal-dialog {
  max-width: 420px;
  margin: 30px auto;
}
.modal .modal-content {
  border-radius: 0;
  border: 2px solid #ebebeb;
  overflow: hidden;
  padding-bottom: 20px;
}
.modal .modal-content .modal-header {
  background: #1499ff;
}
.modal .modal-content .modal-header h4 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.modal .modal-content .modal-header button.close {
  color: #fff;
  font-size: 24px;
  opacity: 1;
  margin-top: 0;
}
.modal .modal-content .modal-body input[type=text],
.modal .modal-content .modal-body input[type=email],
.modal .modal-content .modal-body input[type=password],
.modal .modal-content .modal-body input[type=number] {
  padding: 18px;
  border: 2px solid #ebebeb;
  background: #f8f8f8;
  width: 100%;
  margin: 8px 0;
  font-size: 14px;
  font-weight: 700;
  color: #888888;
  text-transform: uppercase;
  outline: none;
}
.modal .modal-content .modal-body textarea {
  padding: 18px;
  border: 2px solid #ebebeb;
  background: #f8f8f8;
  width: 100%;
  resize: none;
  height: 116px;
  margin: 8px 0;
  font-size: 14px;
  font-weight: 700;
  color: #888888;
  text-transform: uppercase;
  outline: none;
}
.modal .modal-content .modal-body .required,
.modal .modal-content .modal-body .invalid {
  border-color: #ff602d !important;
}
.modal .modal-content .modal-body .btn {
  margin: 15px 0;
  background: #ff602d;
  width: 100%;
  max-width: 364px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 13px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.modal .modal-content .modal-body .phones p {
  color: #888888;
  margin: 10px 0;
  font-size: 12px;
}
.modal .modal-content .modal-body .phones p img {
  position: relative;
  bottom: 2px;
  margin: 0 5px;
}
.modal .modal-content .modal-body .phones p a {
  color: #888888;
}
.modal .modal-content .modal-body .phones p.mail i {
  margin-right: 5px;
}
.modal .modal-content .modal-body .phones p.mail a {
  color: #888888;
}
/*mixed functions*/
/*border-radius*/
/*background-gradient*/
/*transition*/
/*box-shadow*/
/*box-shadow: 0 0 10px rgba(0,0,0,0.5)*/
/*text-shadow*/
/*text-shadow: 1px 1px 2px black*/
